<?xml version='1.0' encoding='utf-8'?>
<robot name="tracer_v1">
  <link name="base_link">
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/tracer_base_link_no_wheel.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.57 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/tracer_base_link_no_wheel.dae" />
      </geometry>
    </collision>
  </link>
  <link name="inertial_link">
    <inertial>
      <mass value="26" />
      <origin xyz="0 -7.32620573874e-05 -0.0430613696432" rpy="0 0 0" />
      <inertia ixx="0.740729698123" ixy="0" ixz="0" iyy="1.0534841798" iyz="0" izz="1.72065358888" />
    </inertial>
  </link>
  <joint name="inertial_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="inertial_link" />
  </joint>
  <link name="right_wheel_link">
    <inertial>
      <mass value="1.5" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00226301375" ixy="0" ixz="0" iyy="0.0027451875" iyz="0" izz="0.00226301375" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/tracer_wheel.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/tracer_wheel.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wheel" type="continuous">
    <parent link="base_link" />
    <child link="right_wheel_link" />
    <origin rpy="0 0 0" xyz="0 -0.17 -0.082" />
    <axis rpy="0 0 0" xyz="0 1 0" />
  </joint>
  <link name="left_wheel_link">
    <inertial>
      <mass value="1.5" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="0.00226301375" ixy="0" ixz="0" iyy="0.0027451875" iyz="0" izz="0.00226301375" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/tracer_wheel.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/tracer_wheel.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wheel" type="continuous">
    <parent link="base_link" />
    <child link="left_wheel_link" />
    <origin rpy="3.14 0 0" xyz="0 0.17 -0.082" />
    <axis rpy="0 0 0" xyz="0 1 0" />
  </joint>
  <link name="fl_castor_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="0.00862449 0.032734559 -0.001" rpy="0 0 0" />
      <inertia ixx="0.0001484066702" ixy="0" ixz="0" iyy="0.000172421901042" iyz="0" izz="0.000173828571242" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor_joint.dae" />
      </geometry>
    </visual>
  </link>
  <joint name="fl_castor_wheel" type="continuous">
    <origin rpy="-1.57 0 0" xyz="0.18955 0.17 -0.0380886" />
    <parent link="base_link" />
    <child link="fl_castor_link" />
    <axis rpy="0 0 0" xyz="0 1 0" />
  </joint>
  <link name="fr_castor_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="0.00862449 0.032734559 -0.001" rpy="0 0 0" />
      <inertia ixx="0.0001484066702" ixy="0" ixz="0" iyy="0.000172421901042" iyz="0" izz="0.000173828571242" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor_joint.dae" />
      </geometry>
    </visual>
  </link>
  <joint name="fr_castor_wheel" type="continuous">
    <origin rpy="-1.57 0 0" xyz="0.18955 -0.17 -0.0380886" />
    <parent link="base_link" />
    <child link="fr_castor_link" />
    <axis rpy="0 0 0" xyz="0 1 0" />
  </joint>
  <link name="rr_castor_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="0.00862449 0.032734559 -0.001" rpy="0 0 0" />
      <inertia ixx="0.0001484066702" ixy="0" ixz="0" iyy="0.000172421901042" iyz="0" izz="0.000173828571242" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor_joint.dae" />
      </geometry>
    </visual>
  </link>
  <joint name="rr_castor_wheel" type="continuous">
    <origin rpy="-1.57 0 0" xyz="-0.18955 -0.17 -0.0380886" />
    <parent link="base_link" />
    <child link="rr_castor_link" />
    <axis rpy="0 0 0" xyz="0 1 0" />
  </joint>
  <link name="rl_castor_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="0.00862449 0.032734559 -0.001" rpy="0 0 0" />
      <inertia ixx="0.0001484066702" ixy="0" ixz="0" iyy="0.000172421901042" iyz="0" izz="0.000173828571242" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor_joint.dae" />
      </geometry>
    </visual>
  </link>
  <joint name="rl_castor_wheel" type="continuous">
    <origin rpy="-1.57 0 0" xyz="-0.18955 0.17 -0.0380886" />
    <parent link="base_link" />
    <child link="rl_castor_link" />
    <axis rpy="0 0 0" xyz="0 1 0" />
  </joint>
  <link name="fl_wheel_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="2.3e-07 -6.54999999999e-07 0" rpy="0 0 0" />
      <inertia ixx="7.32057291667e-05" ixy="0" ixz="0" iyy="7.32057291667e-05" iyz="0" izz="8.7890625e-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>--&gt;
                <mesh filename="meshes/castor.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_wheel" type="continuous">
    <parent link="fl_castor_link" />
    <child link="fl_wheel_link" />
    <dynamics damping="0.0" friction="0.0" />
    <origin rpy="0 0 0" xyz="-0.0218084 0.067 0" />
    <axis rpy="0 0 0" xyz="0 0 1" />
  </joint>
  <link name="fr_wheel_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="2.3e-07 -6.54999999999e-07 0" rpy="0 0 0" />
      <inertia ixx="7.32057291667e-05" ixy="0" ixz="0" iyy="7.32057291667e-05" iyz="0" izz="8.7890625e-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>--&gt;
                <mesh filename="meshes/castor.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_wheel" type="continuous">
    <parent link="fr_castor_link" />
    <child link="fr_wheel_link" />
    <dynamics damping="0.0" friction="0.0" />
    <origin rpy="0 0 0" xyz="-0.0218084 0.067 0" />
    <axis rpy="0 0 0" xyz="0 0 1" />
  </joint>
  <link name="rr_wheel_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="2.3e-07 -6.54999999999e-07 0" rpy="0 0 0" />
      <inertia ixx="7.32057291667e-05" ixy="0" ixz="0" iyy="7.32057291667e-05" iyz="0" izz="8.7890625e-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/castor.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_wheel" type="continuous">
    <parent link="rr_castor_link" />
    <child link="rr_wheel_link" />
    <dynamics damping="0.0" friction="0.0" />
    <origin rpy="0 0 0" xyz="-0.0218084 0.067 0" />
    <axis rpy="0 0 0" xyz="0 0 1" />
  </joint>
  <link name="rl_wheel_link">
    <inertial>
      <mass value="0.125" />
      <origin xyz="2.3e-07 -6.54999999999e-07 0" rpy="0 0 0" />
      <inertia ixx="7.32057291667e-05" ixy="0" ixz="0" iyy="7.32057291667e-05" iyz="0" izz="8.7890625e-05" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/castor.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/castor.dae" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_wheel" type="continuous">
    <parent link="rl_castor_link" />
    <child link="rl_wheel_link" />
    <dynamics damping="0.0" friction="0.0" />
    <origin rpy="0 0 0" xyz="-0.0218084 0.067 0" />
    <axis rpy="0 0 0" xyz="0 0 1" />
  </joint>
</robot>