<?xml version='1.0' encoding='utf-8'?>
<robot name="sensor_rack_piper">
  <material name="aluminum">
    <color rgba="0.72 0.74 0.77 1" />
  </material>
  <material name="sensor_black">
    <color rgba="0.12 0.12 0.14 1" />
  </material>
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0521633209 2.27541919e-06 0.491031395" rpy="0 0 0" />
      <mass value="15.85407974" />
      <inertia ixx="2.73553054931" iyy="2.54680827484" izz="0.735889521794" ixy="-2.53379668362e-06" iyz="2.81294544705e-06" ixz="0.345234748088" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/sensor_rack_description/meshes/base_link.stl" scale="1 1 1" />
      </geometry>
      <material name="aluminum" />
    </visual>
    <collision name="profiles_470mm_1_body1">
      <origin xyz="0.18 -2.629008122e-15 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.47 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_320mm_1_body1">
      <origin xyz="9.681144775e-16 -0.215 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.32 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_320mm_2_body1">
      <origin xyz="2.042810365e-16 0.215 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.32 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_470mm_2_body1">
      <origin xyz="-0.18 -2.629008122e-15 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.47 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_250mm_1_body1">
      <origin xyz="0.18 0.215 0.165" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.25" />
      </geometry>
    </collision>
    <collision name="profiles_250mm_2_body1">
      <origin xyz="0.18 -0.215 0.165" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.25" />
      </geometry>
    </collision>
    <collision name="profiles_250mm_3_body1">
      <origin xyz="-0.18 -0.215 0.165" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.25" />
      </geometry>
    </collision>
    <collision name="profiles_250mm_4_body1">
      <origin xyz="-0.18 0.215 0.165" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.25" />
      </geometry>
    </collision>
    <collision name="profiles_320mm_3_body1">
      <origin xyz="2.220446049e-16 -0.215 0.27" rpy="0 0 0" />
      <geometry>
        <box size="0.32 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_320mm_4_body1">
      <origin xyz="1.71418435e-15 0.215 0.27" rpy="0 0 0" />
      <geometry>
        <box size="0.32 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_390mm_1_body1">
      <origin xyz="0.06 -1.98951966e-15 0.27" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.39 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_390mm_2_body1">
      <origin xyz="-0.06 -2.629008122e-15 0.27" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.39 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_1_body1">
      <origin xyz="0.1 0.175 0.26965" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_2_body1">
      <origin xyz="0.02 0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_3_body1">
      <origin xyz="-0.02 0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_4_body1">
      <origin xyz="-0.1 0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_5_body1">
      <origin xyz="0.1 -0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_6_body1">
      <origin xyz="0.02 -0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_7_body1">
      <origin xyz="-0.02 -0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_8_body1">
      <origin xyz="-0.1 -0.175 0.269825" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_500mm_1_body1">
      <origin xyz="-0.18 -0.215 0.54" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5" />
      </geometry>
    </collision>
    <collision name="profiles_500mm_2_body1">
      <origin xyz="-0.18 0.215 0.54" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5" />
      </geometry>
    </collision>
    <collision name="profiles_390mm_3_body1">
      <origin xyz="-0.18 -2.629008122e-15 0.77" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.39 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_500mm_3_body1">
      <origin xyz="0.06 -0.215 0.54" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5" />
      </geometry>
    </collision>
    <collision name="profiles_500mm_4_body1">
      <origin xyz="0.06 0.215 0.54" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5" />
      </geometry>
    </collision>
    <collision name="bracket_9_body1">
      <origin xyz="0.1 0.214825 0.31" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_10_body1">
      <origin xyz="0.1 -0.214825 0.31" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_11_body1">
      <origin xyz="-0.14 -0.214825 0.31" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_12_body1">
      <origin xyz="0.02 0.215175 0.31" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_13_body1">
      <origin xyz="-0.14 0.214825 0.31" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_14_body1">
      <origin xyz="0.02 -0.214825 0.31" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_390mm_4_body1">
      <origin xyz="0.06 1.918465387e-15 0.77" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.39 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_15_body1">
      <origin xyz="0.059825 0.175 0.73" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_16_body1">
      <origin xyz="-0.180175 0.175 0.73" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_17_body1">
      <origin xyz="0.059825 -0.175 0.73" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_18_body1">
      <origin xyz="-0.180175 -0.175 0.73" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="profiles_500mm_5_body1">
      <origin xyz="-0.18 -0.145 1.04" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5" />
      </geometry>
    </collision>
    <collision name="profiles_500mm_6_body1">
      <origin xyz="-0.18 0.145 1.04" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.5" />
      </geometry>
    </collision>
    <collision name="profiles_250mm_5_body1">
      <origin xyz="-0.18 -2.611244554e-15 1.27" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.25 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_21_body1">
      <origin xyz="-0.180175 0.105 0.81" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_22_body1">
      <origin xyz="-0.180175 -0.105 0.81" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_23_body1">
      <origin xyz="-0.180175 -0.105 1.23" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="bracket_24_body1">
      <origin xyz="-0.180175 0.105 1.23" rpy="0 0 0" />
      <geometry>
        <box size="0.04 0.04 0.04" />
      </geometry>
    </collision>
    <collision name="2D_LiDARMount_1_body1">
      <origin xyz="0.0001750004027 3.103519397e-10 0.2925" rpy="0 0 0" />
      <geometry>
        <box size="0.1600000001 0.1199999994 0.005" />
      </geometry>
    </collision>
    <collision name="3D_LiDAR_Camera_mount_1_body1">
      <origin xyz="-0.18 -2.611244554e-15 1.26025" rpy="0 0 0" />
      <geometry>
        <box size="0.065 0.12 0.0605" />
      </geometry>
    </collision>
    <collision name="Manipulator_mount_1_body1">
      <origin xyz="-0.06 -1.252331572e-15 0.7945" rpy="0 0 0" />
      <geometry>
        <box size="0.28 0.15 0.009" />
      </geometry>
    </collision>
  </link>
  <link name="g2_link">
    <inertial>
      <origin xyz="-0.0001490409821 -2.309850847e-05 -0.01132940889" rpy="0 0 0" />
      <mass value="0.185" />
      <inertia ixx="8.84979795838e-05" iyy="8.7887228132e-05" izz="0.000124861979157" ixy="9.69848900207e-08" iyz="3.40961783497e-08" ixz="2.20014687374e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/sensor_rack_description/meshes/g2_link.stl" scale="1 1 1" />
      </geometry>
      <material name="sensor_black" />
    </visual>
    <collision name="Base_1_body1">
      <origin xyz="-0.003825 4.440892099e-17 -0.02135" rpy="0 0 0" />
      <geometry>
        <box size="0.08135 0.0782820323 0.0205" />
      </geometry>
    </collision>
    <collision name="TOP_1_body1">
      <origin xyz="0 0 -0.00085" rpy="0 0 0" />
      <geometry>
        <box size="0.0737 0.0737 0.0205" />
      </geometry>
    </collision>
  </link>
  <joint name="g2_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="g2_link" />
    <origin xyz="0.0001749995366 -9.208278584e-12 0.3266" rpy="0 0 0" />
  </joint>
  <link name="mid360_link">
    <inertial>
      <origin xyz="-0.0002508370719 -4.326178257e-15 0.03111734193" rpy="0 0 0" />
      <mass value="0.265" />
      <inertia ixx="0.000109943490919" iyy="0.000112274653123" izz="0.000174630090427" ixy="-4.38308141741e-17" iyz="-1.60132409736e-18" ixz="-9.42133024059e-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/sensor_rack_description/meshes/mid360_link.stl" scale="1 1 1" />
      </geometry>
      <material name="sensor_black" />
    </visual>
    <collision name="mid_360s_axis_1_body1">
      <origin xyz="-0.004 0 0.027212" rpy="0 0 0" />
      <geometry>
        <box size="0.073 0.065 0.039576" />
      </geometry>
    </collision>
  </link>
  <joint name="mid360_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="mid360_link" />
    <origin xyz="-0.18 -2.575717417e-15 1.183" rpy="0 0 0" />
  </joint>
  <link name="camera_link">
    <inertial>
      <origin xyz="-0.01240890941 0.001091370112 -2.726393042e-05" rpy="0 0 0" />
      <mass value="0.075" />
      <inertia ixx="4.51543473605e-05" iyy="6.90614247682e-06" izz="4.57927511722e-05" ixy="6.65049112013e-07" iyz="-2.22870420239e-09" ixz="1.1643352246e-08" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/sensor_rack_description/meshes/camera_link.stl" scale="1 1 1" />
      </geometry>
      <material name="sensor_black" />
    </visual>
    <collision name="D435f_Solid_v1_1_body1">
      <origin xyz="-0.01225999999 4.759694376e-05 -2.114679788e-08" rpy="0 0 0" />
      <geometry>
        <box size="0.02557999999 0.08990450611 0.02499995771" />
      </geometry>
    </collision>
    <collision name="D435f_Solid_v1_1_body2">
      <origin xyz="0.000563 0.0014 0" rpy="0 0 0" />
      <geometry>
        <box size="6.6e-05 0.08319 0.01539" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin xyz="-0.12495 -2.611244554e-15 1.27" rpy="0 0 0" />
  </joint>
  <link name="cad_profiles_470mm_1" />
  <joint name="cad_profiles_470mm_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_470mm_1" />
    <origin xyz="0.1527112942 0.135 0.0477722261" rpy="0 -0 0" />
  </joint>
  <link name="cad_profiles_320mm_1" />
  <joint name="cad_profiles_320mm_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_320mm_1" />
    <origin xyz="-0.06 -0.2422887058 0.0477722261" rpy="-3.41377878841e-17 6.07153216592e-18 1.57079632679" />
  </joint>
  <link name="cad_profiles_320mm_2" />
  <joint name="cad_profiles_320mm_2_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_320mm_2" />
    <origin xyz="-0.06 0.1877112942 0.0477722261" rpy="0 -0 1.57079632679" />
  </joint>
  <link name="cad_profiles_470mm_2" />
  <joint name="cad_profiles_470mm_2_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_470mm_2" />
    <origin xyz="-0.2072887058 0.135 0.0477722261" rpy="0 -0 1.10933564797e-31" />
  </joint>
  <link name="cad_profiles_250mm_1" />
  <joint name="cad_profiles_250mm_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_250mm_1" />
    <origin xyz="0.1527112942 0.1872277739 0.19" rpy="1.57079632679 -0 0" />
  </joint>
  <link name="cad_profiles_250mm_2" />
  <joint name="cad_profiles_250mm_2_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_250mm_2" />
    <origin xyz="0.1527112942 -0.2427722261 0.19" rpy="1.57079632679 -0 0" />
  </joint>
  <link name="cad_profiles_250mm_3" />
  <joint name="cad_profiles_250mm_3_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_250mm_3" />
    <origin xyz="-0.2072887058 -0.2427722261 0.19" rpy="1.57079632679 -5.60570269243e-47 0" />
  </joint>
  <link name="cad_profiles_250mm_4" />
  <joint name="cad_profiles_250mm_4_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_250mm_4" />
    <origin xyz="-0.2072887058 0.2427722261 0.14" rpy="-1.57079632679 -1.10933564797e-31 1.10933564797e-31" />
  </joint>
  <link name="cad_profiles_320mm_3" />
  <joint name="cad_profiles_320mm_3_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_320mm_3" />
    <origin xyz="-0.06 -0.2422887058 0.2977722261" rpy="6.12323399574e-17 6.12323399574e-17 1.57079632679" />
  </joint>
  <link name="cad_profiles_320mm_4" />
  <joint name="cad_profiles_320mm_4_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_320mm_4" />
    <origin xyz="-0.06 0.1877112942 0.2977722261" rpy="6.12323399574e-17 6.12323399574e-17 1.57079632679" />
  </joint>
  <link name="cad_profiles_390mm_1" />
  <joint name="cad_profiles_390mm_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_390mm_1" />
    <origin xyz="0.03271129416 0.095 0.2977722261" rpy="1.10933564797e-31 1.41635147517e-46 -1.27675647832e-15" />
  </joint>
  <link name="cad_profiles_390mm_2" />
  <joint name="cad_profiles_390mm_2_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_390mm_2" />
    <origin xyz="-0.08728870584 0.095 0.2977722261" rpy="2.4612511597e-62 -1.10933564797e-31 1.36517682503e-93" />
  </joint>
  <link name="cad_bracket_1" />
  <joint name="cad_bracket_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_1" />
    <origin xyz="0.08 0.180659132 0.2778054535" rpy="0 1.57079632679 -1.27675647832e-15" />
  </joint>
  <link name="cad_bracket_2" />
  <joint name="cad_bracket_2_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_2" />
    <origin xyz="0.02565913202 0.195 0.2779804535" rpy="0 1.57079632679 -1.57079632679" />
  </joint>
  <link name="cad_bracket_3" />
  <joint name="cad_bracket_3_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_3" />
    <origin xyz="-0.02565913202 0.195 0.2616695465" rpy="0 -1.57079632679 1.57079632679" />
  </joint>
  <link name="cad_bracket_4" />
  <joint name="cad_bracket_4_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_4" />
    <origin xyz="-0.08 0.180659132 0.2616695465" rpy="0 -1.57079632679 3.53572290739e-16" />
  </joint>
  <link name="cad_bracket_5" />
  <joint name="cad_bracket_5_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_5" />
    <origin xyz="0.08 -0.180659132 0.2616695465" rpy="0 -1.57079632679 3.14159265359" />
  </joint>
  <link name="cad_bracket_6" />
  <joint name="cad_bracket_6_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_6" />
    <origin xyz="0.02565913202 -0.195 0.2616695465" rpy="0 -1.57079632679 -1.57079632679" />
  </joint>
  <link name="cad_bracket_7" />
  <joint name="cad_bracket_7_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_7" />
    <origin xyz="-0.04 -0.180659132 0.2616695465" rpy="0 -1.57079632679 3.14159265359" />
  </joint>
  <link name="cad_bracket_8" />
  <joint name="cad_bracket_8_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_8" />
    <origin xyz="-0.08 -0.180659132 0.2779804535" rpy="0 1.57079632679 -3.14159265359" />
  </joint>
  <link name="cad_profiles_500mm_1" />
  <joint name="cad_profiles_500mm_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_500mm_1" />
    <origin xyz="-0.2072887058 -0.2427722261 0.69" rpy="1.57079632679 3.24764235788e-44 3.82123232584e-30" />
  </joint>
  <link name="cad_profiles_500mm_2" />
  <joint name="cad_profiles_500mm_2_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_500mm_2" />
    <origin xyz="-0.2072887058 0.1872277739 0.69" rpy="1.57079632679 -1.10933564797e-31 -5.52337803179e-48" />
  </joint>
  <link name="cad_profiles_390mm_3" />
  <joint name="cad_profiles_390mm_3_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_390mm_3" />
    <origin xyz="-0.2072887058 0.095 0.7977722261" rpy="8.62816615085e-32 -1.10933564797e-31 -3.88578058619e-16" />
  </joint>
  <link name="cad_profiles_500mm_3" />
  <joint name="cad_profiles_500mm_3_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_500mm_3" />
    <origin xyz="0.03271129416 -0.2427722261 0.69" rpy="1.57079632679 -1.152659312e-29 3.35842464949e-15" />
  </joint>
  <link name="cad_profiles_500mm_4" />
  <joint name="cad_profiles_500mm_4_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_500mm_4" />
    <origin xyz="0.03271129416 0.1872277739 0.69" rpy="1.57079632679 -1.20113469567e-29 9.71445146547e-16" />
  </joint>
  <link name="cad_bracket_9" />
  <joint name="cad_bracket_9_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_9" />
    <origin xyz="0.09434086798 0.2066695465 0.29" rpy="6.12323399574e-17 -2.29526309907e-15 1.57079632679" />
  </joint>
  <link name="cad_bracket_10" />
  <joint name="cad_bracket_10_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_10" />
    <origin xyz="0.09434086798 -0.2229804535 0.29" rpy="6.12323399574e-17 1.34208773392e-15 1.57079632679" />
  </joint>
  <link name="cad_bracket_11" />
  <joint name="cad_bracket_11_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_11" />
    <origin xyz="-0.145659132 -0.2229804535 0.29" rpy="6.12323399574e-17 6.12323399574e-17 1.57079632679" />
  </joint>
  <link name="cad_bracket_12" />
  <joint name="cad_bracket_12_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_12" />
    <origin xyz="0.02565913202 0.2233304535 0.29" rpy="-6.12323399574e-17 2.29526309907e-15 -1.57079632679" />
  </joint>
  <link name="cad_bracket_13" />
  <joint name="cad_bracket_13_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_13" />
    <origin xyz="-0.145659132 0.2066695465 0.29" rpy="2.8187954982e-16 6.12323399574e-17 1.57079632679" />
  </joint>
  <link name="cad_bracket_14" />
  <joint name="cad_bracket_14_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_14" />
    <origin xyz="0.02565913202 -0.2066695465 0.29" rpy="-6.12323399574e-17 -1.34208773392e-15 -1.57079632679" />
  </joint>
  <link name="cad_profiles_390mm_4" />
  <joint name="cad_profiles_390mm_4_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_390mm_4" />
    <origin xyz="0.03271129416 0.095 0.7977722261" rpy="-1.28085539397e-15 -1.32993122724e-29 2.63677968348e-15" />
  </joint>
  <link name="cad_bracket_15" />
  <joint name="cad_bracket_15_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_15" />
    <origin xyz="0.05166954647 0.195 0.735659132" rpy="1.57079632679 -7.21644966006e-16 2.63677968348e-15" />
  </joint>
  <link name="cad_bracket_16" />
  <joint name="cad_bracket_16_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_16" />
    <origin xyz="-0.1883304535 0.195 0.735659132" rpy="1.57079632679 -3.88578058619e-16 -3.88578058619e-16" />
  </joint>
  <link name="cad_bracket_17" />
  <joint name="cad_bracket_17_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_17" />
    <origin xyz="0.05166954647 -0.180659132 0.75" rpy="3.14159265359 -1.4443407891e-29 1.91513471748e-15" />
  </joint>
  <link name="cad_bracket_18" />
  <joint name="cad_bracket_18_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_18" />
    <origin xyz="-0.1883304535 -0.180659132 0.75" rpy="-3.14159265359 -1.14802924234e-29 -3.2457918806e-45" />
  </joint>
  <link name="cad_profiles_500mm_5" />
  <joint name="cad_profiles_500mm_5_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_500mm_5" />
    <origin xyz="-0.2072887058 -0.1727722261 1.19" rpy="1.57079632679 2.81252462387e-42 -3.22939933075e-29" />
  </joint>
  <link name="cad_profiles_500mm_6" />
  <joint name="cad_profiles_500mm_6_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_500mm_6" />
    <origin xyz="-0.2072887058 0.1172277739 1.19" rpy="1.57079632679 -1.47911419727e-31 -1.82362454574e-29" />
  </joint>
  <link name="cad_profiles_250mm_5" />
  <joint name="cad_profiles_250mm_5_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_profiles_250mm_5" />
    <origin xyz="-0.2072887058 0.025 1.297772226" rpy="-1.25108409187e-29 2.81252462387e-42 -3.51870481493e-71" />
  </joint>
  <link name="cad_bracket_21" />
  <joint name="cad_bracket_21_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_21" />
    <origin xyz="-0.1883304535 0.110659132 0.79" rpy="1.26957301934e-29 -1.47911419727e-31 -1.87784347738e-60" />
  </joint>
  <link name="cad_bracket_22" />
  <joint name="cad_bracket_22_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_22" />
    <origin xyz="-0.1883304535 -0.125 0.804340868" rpy="-1.57079632679 3.22939933075e-29 -3.22939933075e-29" />
  </joint>
  <link name="cad_bracket_23" />
  <joint name="cad_bracket_23_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_23" />
    <origin xyz="-0.1883304535 -0.110659132 1.25" rpy="-3.14159265359 2.81252462387e-42 -7.03230078465e-71" />
  </joint>
  <link name="cad_bracket_24" />
  <joint name="cad_bracket_24_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_bracket_24" />
    <origin xyz="-0.1883304535 0.125 1.235659132" rpy="1.57079632679 2.81252462387e-42 0" />
  </joint>
  <link name="cad_2D_LiDARMount_1" />
  <joint name="cad_2D_LiDARMount_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_2D_LiDARMount_1" />
    <origin xyz="0.0001749995366 -9.208189766e-12 0.295" rpy="-3.14159265359 1.94289029309e-16 -1.57079632679" />
  </joint>
  <link name="cad_YDLIDAR_G2_base_1_Base_1" />
  <joint name="cad_YDLIDAR_G2_base_1_Base_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_YDLIDAR_G2_base_1_Base_1" />
    <origin xyz="0.0001749995366 -9.208225293e-12 0.295" rpy="5.54667823984e-32 9.60712852463e-32 -1.0471975512" />
  </joint>
  <link name="cad_YDLIDAR_G2_base_1" />
  <joint name="cad_YDLIDAR_G2_base_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_YDLIDAR_G2_base_1" />
    <origin xyz="0.1527112942 0.135 0.5977722261" rpy="0 -0 0" />
  </joint>
  <link name="cad_YDLIDAR_G2_top_1_TOP_1" />
  <joint name="cad_YDLIDAR_G2_top_1_TOP_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_YDLIDAR_G2_top_1_TOP_1" />
    <origin xyz="0.0001749995366 -9.208278584e-12 0.3266" rpy="2.6308563266e-32 -4.0772257666e-33 0.153753971696" />
  </joint>
  <link name="cad_YDLIDAR_G2_top_1" />
  <joint name="cad_YDLIDAR_G2_top_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_YDLIDAR_G2_top_1" />
    <origin xyz="0.1527112942 0.135 0.4477722261" rpy="0 -0 0" />
  </joint>
  <link name="cad_3D_LiDAR_Camera_mount_1" />
  <joint name="cad_3D_LiDAR_Camera_mount_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_3D_LiDAR_Camera_mount_1" />
    <origin xyz="-0.18 -2.611244554e-15 1.23" rpy="2.8124060179e-42 1.25108409187e-29 1.57079632679" />
  </joint>
  <link name="cad_mid_360s_axis_1" />
  <joint name="cad_mid_360s_axis_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_mid_360s_axis_1" />
    <origin xyz="-0.18 -2.575717417e-15 1.183" rpy="3.14159265359 5.62557810386e-42 6.12323399574e-17" />
  </joint>
  <link name="cad____1_1_OUT_SHELL_1" />
  <joint name="cad____1_1_OUT_SHELL_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad____1_1_OUT_SHELL_1" />
    <origin xyz="-0.18 -2.575717417e-15 1.203806856" rpy="-1.57079632679 5.62557810386e-42 6.12323399574e-17" />
  </joint>
  <link name="cad_component_51" />
  <joint name="cad_component_51_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_component_51" />
    <origin xyz="0.1527112942 0.135 1.247772226" rpy="0 -0 0" />
  </joint>
  <link name="cad_D435f_Solid_v1_1" />
  <joint name="cad_D435f_Solid_v1_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_D435f_Solid_v1_1" />
    <origin xyz="-0.12495 -2.611244554e-15 1.27" rpy="1.57079632679 1.25108409187e-29 1.57079632679" />
  </joint>
  <link name="cad_Manipulator_mount_1" />
  <joint name="cad_Manipulator_mount_1_joint" type="fixed">
    <parent link="base_link" />
    <child link="cad_Manipulator_mount_1" />
    <origin xyz="0.006751615091 -1.243449788e-15 0.7952" rpy="-9.91167059363e-18 -6.93889390391e-18 -4.10612445508e-16" />
  </joint>
  <link name="laser_frame" />
  <joint name="laser_frame_joint" type="fixed">
    <parent link="g2_link" />
    <child link="laser_frame" />
    <origin xyz="0 0 0" rpy="2.630856327e-32 -4.077225767e-33 0.1537539717" />
  </joint>
  <link name="livox_frame" />
  <joint name="livox_frame_joint" type="fixed">
    <parent link="mid360_link" />
    <child link="livox_frame" />
    <origin xyz="0 0 0" rpy="3.141592654 5.625578104e-42 6.123233996e-17" />
  </joint>
  <link name="camera_cad_frame" />
  <joint name="camera_cad_frame_joint" type="fixed">
    <parent link="camera_link" />
    <child link="camera_cad_frame" />
    <origin xyz="0 0 0" rpy="1.570796327 1.251084092e-29 1.570796327" />
  </joint>
  <link name="camera_optical_frame" />
  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link" />
    <child link="camera_optical_frame" />
    <origin xyz="0 0 0" rpy="-1.570796327 0 -1.570796327" />
  </joint>
  <link name="piper_base_link">
    <inertial>
      <origin xyz="-0.00473641164191482 2.56829134630247E-05 0.041451518036016" rpy="0 0 0" />
      <mass value="1.02" />
      <inertia ixx="0.00267433" ixy="-0.00000073" ixz="-0.00017389" iyy="0.00282612" iyz="0.0000004" izz="0.00089624" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/base_link.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link name="piper_link1">
    <inertial>
      <origin xyz="0.00032 -0.00041 -0.00348" rpy="0 0 0" />
      <mass value="0.71" />
      <inertia ixx="0.00050027" ixy="0.00000078" ixz="0.00000626" iyy="0.00040879" iyz="0.00000462" izz="0.00045802" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/link1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_joint1" type="revolute">
    <origin xyz="0 0 0.123" rpy="0 0 0" />
    <parent link="piper_base_link" />
    <child link="piper_link1" />
    <axis xyz="0 0 1" />
    <limit lower="-2.6179938" upper="2.6179938" effort="100" velocity="5" />
  </joint>
  <link name="piper_link2">
    <inertial>
      <origin xyz="0.21852 -0.00861 0.00126" rpy="0 0 0" />
      <mass value="1.16" />
      <inertia ixx="0.00111915" ixy="0.00182916" ixz="0.00019233" iyy="0.06763251" iyz="0.00000767" izz="0.067559" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/link2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_joint2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5707963 -0.1357866 -3.1415926" />
    <parent link="piper_link1" />
    <child link="piper_link2" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="3.1415926" effort="100" velocity="5" />
  </joint>
  <link name="piper_link3">
    <inertial>
      <origin xyz="-0.01999 -0.14808 -0.00053" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.01347608" ixy="0.00161034" ixz="0.00000066" iyy="0.00046377" iyz="0.00000162" izz="0.01363321" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/link3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/link3.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_joint3" type="revolute">
    <origin xyz="0.28503 0 0" rpy="0 0 -1.7938494" />
    <parent link="piper_link2" />
    <child link="piper_link3" />
    <axis xyz="0 0 1" />
    <limit lower="-2.9670597" upper="0" effort="100" velocity="5" />
  </joint>
  <link name="piper_link4">
    <inertial>
      <origin xyz="0.00013 -0.00076 -0.00394" rpy="0 0 0" />
      <mass value="0.38" />
      <inertia ixx="0.00017844" ixy="0.00000062" ixz="0.00000067" iyy="0.00018914" iyz="0.00000408" izz="0.00014613" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/link4.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/link4.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_joint4" type="revolute">
    <origin xyz="-0.02198 -0.25075 0" rpy="1.5707963 0 0" />
    <parent link="piper_link3" />
    <child link="piper_link4" />
    <axis xyz="0 0 1" />
    <limit lower="-1.7453292" upper="1.7453292" effort="100" velocity="5" />
  </joint>
  <link name="piper_link5">
    <inertial>
      <origin xyz="0.00018 -0.06104 -0.00227" rpy="0 0 0" />
      <mass value="0.383" />
      <inertia ixx="0.00172318" ixy="0.00000259" ixz="0.00000010" iyy="0.00017936" iyz="0.00000990" izz="0.00171172" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/link5.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/link5.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_joint5" type="revolute">
    <origin xyz="0 0 0" rpy="-1.5707963 0 0" />
    <parent link="piper_link4" />
    <child link="piper_link5" />
    <axis xyz="0 0 1" />
    <limit lower="-1.2217304" upper="1.2217304" effort="100" velocity="5" />
  </joint>
  <link name="piper_link6">
    <inertial>
      <origin xyz="-0.00003 0.00006 -0.002" rpy="0 0 0" />
      <mass value="0.007" />
      <inertia ixx="0.00152112" ixy="0.00000202" ixz="0.00000261" iyy="0.00138626" iyz="0.00000002" izz="0.00031152" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/link6.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/link6.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_joint6" type="revolute">
    <origin xyz="8.8259E-05 -0.091 0" rpy="1.5707963 0 0" />
    <parent link="piper_link5" />
    <child link="piper_link6" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0943951" upper="2.0943951" effort="100" velocity="5" />
  </joint>
  <link name="piper_flange_link">
    <inertial>
      <origin xyz="1.151691e-03 0.782428e-03 4.798051e-03" rpy="0 0 0" />
      <mass value="0.04" />
      <inertia ixx="9.935389e-06" ixy="0.0" ixz="0.0" iyy="10.508003e-06" iyz="0.0" izz="19.652873e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/flange.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/flange.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_flange_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="piper_link6" />
    <child link="piper_flange_link" />
  </joint>
  <link name="piper_gripper_base">
    <inertial>
      <origin xyz="-0.000183807162235591 8.05033155577911E-05 0.0321436689908876" rpy="0 0 0" />
      <mass value="0.45" />
      <inertia ixx="0.00092934" ixy="0.00000034" ixz="-0.00000738" iyy="0.00071447" iyz="0.00000005" izz="0.00039442" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/gripper_base.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/gripper_base.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_gripper_base_joint" type="fixed">
    <origin xyz="0 0 0.0045" rpy="0 0 0" />
    <parent link="piper_flange_link" />
    <child link="piper_gripper_base" />
  </joint>
  <link name="piper_gripper_link" />
  <joint name="piper_gripper" type="prismatic">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="piper_gripper_base" />
    <child link="piper_gripper_link" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.1" effort="10" velocity="3" />
  </joint>
  <link name="piper_gripper_link1">
    <inertial>
      <origin xyz="0.00065123185041968 -0.0491929869131989 0.00972258769184025" rpy="0 0 0" />
      <mass value="0.025" />
      <inertia ixx="0.00007371" ixy="-0.00000113" ixz="0.00000021" iyy="0.00000781" iyz="-0.00001372" izz="0.0000747" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/gripper_link1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/gripper_link1.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_gripper_joint1" type="prismatic">
    <origin xyz="0 0 0.138" rpy="1.5707963 0 0" />
    <parent link="piper_gripper_base" />
    <child link="piper_gripper_link1" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0.05" effort="10" velocity="3" />
    <mimic joint="piper_gripper" multiplier="0.5" offset="0.0" />
  </joint>
  <link name="piper_gripper_link2">
    <inertial>
      <origin xyz="0.00065123185041968 -0.0491929869131989 0.00972258769184025" rpy="0 0 0" />
      <mass value="0.025" />
      <inertia ixx="0.00007371" ixy="-0.00000113" ixz="0.00000021" iyy="0.00000781" iyz="-0.00001372" izz="0.0000747" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/dae/gripper_link2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../../../HW/URDF/piper/meshes/gripper_link2.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="piper_gripper_joint2" type="prismatic">
    <origin xyz="0 0 0.138" rpy="1.5707963 0 -3.1415926" />
    <parent link="piper_gripper_base" />
    <child link="piper_gripper_link2" />
    <axis xyz="0 0 -1" />
    <limit lower="-0.05" upper="0" effort="10" velocity="3" />
    <mimic joint="piper_gripper" multiplier="-0.5" offset="0.0" />
  </joint>
  <joint name="rack_to_piper_base" type="fixed">
    <parent link="cad_Manipulator_mount_1" />
    <child link="piper_base_link" />
    <origin xyz="0 0 0.0038" rpy="0 0 0" />
  </joint>
</robot>